---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'about/'
eleventyNavigation:
    key: Επεμβάσεις
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/facelift.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/facelift.png">
            <img loading="lazy" decoding="async" src="/assets/images/facelift.png" alt="room" width="960" height="796">
        </picture>
        <div class="cs-content">
            <h1 class="cs-title">Λίφτινγκ προσώπου 
                (Face Lift): Αναλυτικός Οδηγός για την Επέμβαση</h1>
            <p class="cs-text">
                    Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες 
                    και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο.                    
            </p>
            <a href="" class="cs-button-solid">Κλείστε ραντεβού
                <img src="/assets/svgs/right-arrow.svg" alt="" width="20" height="20" aria-hidden="true" decoding="async">

            </a>
        </div>
    </div>
    </section>

    <!-- ============================================ -->
    <!--                In one glance                 -->
    <!-- ============================================ -->

    <section id="glance-1">
        <div class="cs-container">
            <div class="cs-content-left">
                <h2 class="cs-title">Με μία ματιά</h2>
                <p class="cs-text">
                    Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο.
                </p>
                <p class="cs-text">
                    Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο.
                    Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο. Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο.                   
                </p>
            </div>
            <div class="cs-content-right">
                <h2 class="cs-title">Περίληψη</h2>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <span class="cs-flex">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/time_svgrepo.com.svg" alt="icon" width="40" height="40">
                            <div>Ώρα διαδικασίας</div>
                            <div class="right">1-2 ώρες </div>
                        </span>
                    </li>
                    <li class="cs-li">
                        <span class="cs-flex">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/night_svgrepo.com.svg" alt="icon" width="40" height="40">
                            <div>Παραμονή στην κλινική</div>
                            <div class="right">Όχι</div>
                        </span>
                    </li>
                    <li class="cs-li">
                        <span class="cs-flex">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/injection-inject-vaccine_svgrepo.com.svg" alt="icon" width="40" height="40">
                            <div>Αναισθησία</div>
                            <div class="right">Γενική αναισθησία</div>
                        </span>
                    </li>
                    <li class="cs-li">
                        <span class="cs-flex">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/time_svgrepo.com.svg" alt="icon" width="40" height="40">
                            <div>Χρόνος ανάρρωσης</div>
                            <div class="right">1 εβδομάδα</div>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
    <!-- ============================================ -->
    <!--                    Steps                     -->
    <!-- ============================================ -->

    <section id="steps-1">
        <h2 class="cs-title cs-steps">
            Η διαδικασία βήμα προς βήμα </h2>
        <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/arrow-down-blue.svg" alt="icon" width="100" height="100">
        <div id="step-r">
            <div class="cs-container">
                <div class="cs-content">
                    <h3 class="cs-title">Βήμα 1: Αρχική Συμβουλή & Εκτίμηση</h3>
                    <p class="cs-text">
                        Στη διάρκεια αυτής της συνάντησης, ο γιατρός θα εξετάσει την κατάσταση του προσώπου σας και θα συζητήσει τις επιλογές σας, όπως το MACS lift ή το παραδοσιακό face lift.                    </p>
                    <a href="" class="cs-button-solid">Κλείστε ραντεβού εκτίμησης 
                        <img src="/assets/svgs/right-arrow.svg" alt="" width="20" height="20" aria-hidden="true" decoding="async">
                    </a>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/step1.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/step1.png">
                    <img loading="lazy" decoding="async" src="/assets/images/step1.png" alt="room" width="960" height="796">
                </picture>
            </div>
        </div>

        <div id="step">
            <div class="cs-container">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/step2.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/step2.png">
                    <img loading="lazy" decoding="async" src="/assets/images/step2.png" alt="room" width="960" height="796">
                </picture>
                <div class="cs-content">
                    <h3 class="cs-title">Βήμα 2: Αποφασίστε για τη μέθοδο και την αναισθησία</h3>
                    <p class="cs-text">
                        Μετά την εκτίμηση του προσώπου σας, θα επιλέξετε μαζί την κατάλληλη μέθοδο ανόρθωσης (π.χ. παραδοσιακό face lift ή λιγότερο επεμβατικό MACS lift). Επίσης, θα αποφασίσετε αν θα γίνει η επέμβαση με τοπική αναισθησία ή γενική, ανάλογα με τη σοβαρότητα της επέμβασης.                   
                    </p>
                    <a href="" class="cs-button-solid">Μάθετε για το ιατρείο
                        <img src="/assets/svgs/right-arrow.svg" alt="" width="20" height="20" aria-hidden="true" decoding="async">
                    </a>
                </div>
            </div>
        </div>

        <div id="step-r">
            <div class="cs-container">
                <div class="cs-content">
                    <h3 class="cs-title">Βήμα 3: Η Διεξαγωγή της Επέμβασης</h3>
                    <p class="cs-text">
                        Η επέμβαση πραγματοποιείται σε οργανωμένο ιατρικό κέντρο με τις κατάλληλες προδιαγραφές ασφαλείας. Ανάλογα με τη μέθοδο, η διάρκεια της επέμβασης μπορεί να διαρκέσει λίγες ώρες. Η διαδικασία μπορεί να περιλαμβάνει ανόρθωση του προσώπου και του λαιμού και, σε μερικές περιπτώσεις, ανακατανομή λίπους για φυσικότερο αποτέλεσμα.
                    </p>
                    <a href="" class="cs-button-solid">Κλείστε ραντεβού
                        <img src="/assets/svgs/right-arrow.svg" alt="" width="20" height="20" aria-hidden="true" decoding="async">
                    </a>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/step3.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/step3.png">
                    <img loading="lazy" decoding="async" src="/assets/images/step3.png" alt="room" width="960" height="796">
                </picture>
            </div>
        </div>

        <div id="step">
            <div class="cs-container">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/step4.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/step4.png">
                    <img loading="lazy" decoding="async" src="/assets/images/step4.png" alt="room" width="960" height="796">
                </picture>
                <div class="cs-content">
                    <h3 class="cs-title">Βήμα 4: Ανάρρωση και Παρακολούθηση</h3>
                    <p class="cs-text">
                        Μετά την επέμβαση, η ανάρρωση εξαρτάται από τη μέθοδο. Συνήθως, οι ασθενείς αναρρώνουν γρήγορα (περίπου 10 ημέρες), ενώ η πλήρης αποκατάσταση μπορεί να διαρκέσει μερικές εβδομάδες. Η συνεχής παρακολούθηση του αποτελέσματος και της ανάρρωσης είναι σημαντική για την επίτευξη του καλύτερου δυνατού αποτελέσματος.
                    </p>
                    <a href="" class="cs-button-solid">Κλείστε ραντεβού
                        <img src="/assets/svgs/right-arrow.svg" alt="" width="20" height="20" aria-hidden="true" decoding="async">
                    </a>
                </div>
            </div>
        </div>
    </section>   

    <!-- ============================================ -->
    <!--                   Gallery                    -->
    <!-- ============================================ -->

    <section id="results-1">
        <div class="cs-container">
            <div class="cs-content">
                <div class="cs-flex">
                    <h2 class="cs-title">Tα αποτελέσματα πριν & μετά</h2>
                </div>
            </div>
            <!--Gallery-->
            <div class="cs-gallery">
                <div class="cs-item">
                    <p class="cs-item-text">Treatment of neck wrinkles using SkinPen microneedling</p>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before.png" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Πριν / Μετά</span>
                    </div>
                </div>
                <div class="cs-item">
                    <p class="cs-item-text">Skin rejuvenation using the PicoSure Pro laser</p>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-1.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-1.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-1.png" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Πριν / Μετά</span>
                    </div>
                </div>
                <div class="cs-item">
                    <p class="cs-item-text">Treatment of brown spots using the PicoSure Pro laser</p>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-2.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-2.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-2.png" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Πριν / Μετά</span>
                    </div>
                </div>
                <div class="cs-item">
                    <p class="cs-item-text">Treatment of acne scars using the PicoSure Pro laser</p>
                    <div class="cs-picture-group">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-3.png">
                            <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-3.png">
                            <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/MISC/derma-gallery-before-3.png" alt="gallery" width="305" height="400">
                        </picture>
                        <span class="cs-tag">Πριν / Μετά</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="services-1">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Είδη λίφτινγκ</h2>
                <p class="cs-text">
                    At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
                </p>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/lift.png">
                            <source media="(min-width: 601px)" srcset="/assets/images/lift.png">
                            <img loading="lazy" decoding="async" src="/assets/images/lift.png" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Macs Lift </h3>
                        <p class="cs-item-text">
                            Bασίζεται στη  στήριξη των μαλακών μορίων του προσώπου από σταθερό σημείο, με  αποτέλεσμα ένα πιο φυσικό και λιγότερο επεμβατικό αποτέλεσμα. Στόχος της τεχνικής αυτής είναι η ανόρθωση και νεαροποίηση του προσώπου και του  λαιμού, χωρίς να ασκείται υπερβολική τάση στο δέρμα.                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/macs.png">
                            <source media="(min-width: 601px)" srcset="/assets/images/macs.png">
                            <img loading="lazy" decoding="async" src="/assets/images/macs.png" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Macs Lift</h3>
                        <p class="cs-item-text">
                            Bασίζεται στη  στήριξη των μαλακών μορίων του προσώπου από σταθερό σημείο, με  αποτέλεσμα ένα πιο φυσικό και λιγότερο επεμβατικό αποτέλεσμα. Στόχος της τεχνικής αυτής είναι η ανόρθωση και νεαροποίηση του προσώπου και του  λαιμού, χωρίς να ασκείται υπερβολική τάση στο δέρμα.
                                                </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/smallcut.png">
                            <source media="(min-width: 601px)" srcset="/assets/images/smallcut.png">
                            <img loading="lazy" decoding="async" src="/assets/images/smallcut.png" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Λίφτινγκ Μικρών Τομών</h3>
                        <p class="cs-item-text">
                            Bασίζεται στη  στήριξη των μαλακών μορίων του προσώπου από σταθερό σημείο, με  αποτέλεσμα ένα πιο φυσικό και λιγότερο επεμβατικό αποτέλεσμα. Στόχος της τεχνικής αυτής είναι η ανόρθωση και νεαροποίηση του προσώπου και του  λαιμού, χωρίς να ασκείται υπερβολική τάση στο δέρμα.
                         </p>
                    </a>
                </li>
            </ul>
            <a href="" class="cs-button-solid">Κλείστε ραντεβού
                <img src="/assets/svgs/right-arrow.svg" alt="" width="20" height="20" aria-hidden="true" decoding="async">
            </a>
        </div>
    </section>
                
                                
    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-1">
        <div class="cs-container">
            <!-- Left section -->
            <div class="cs-card">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/pro.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/pro.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pro.png" alt="man at dentist" width="328" height="200" aria-hidden="true">
                </picture>
                <div class="cs-content">
                    <!-- <span class="cs-topper">100% ΦΥΣΙΚΟ ΑΠΟΤΕΛΕΣΜΑ </span> -->
                    <h2 class="cs-title">Λίφτινγκ προσαρμοσμένο στις αναλογίες του προσώπου σας</h2>
                    <p class="cs-text">
                        Οι χειρουργικές τεχνικές που χρησιμοποιούμε έχουν σχεδιαστεί έτσι ώστε να αποφεύγεται το υπερβολικό τέντωμα του δέρματος και η "τραβηγμένη" εμφάνιση, εξασφαλίζοντας ότι το πρόσωπό σας θα δείχνει νεότερο και ανανεωμένο χωρίς να χάσει τη φυσικότητά του. Επιπλέον, κάθε επέμβαση εξατομικεύεται στις ανάγκες και τα χαρακτηριστικά του κάθε ατόμου, προκειμένου να επιτευχθεί το πιο αρμονικό και φυσικό αποτέλεσμα.
                    </p>
                    <a href="" class="cs-button-solid">Κλείστε ραντεβού
                        <img src="/assets/svgs/right-arrow.svg" alt="" width="20" height="20" aria-hidden="true" decoding="async">
                    </a>
                </div>
            </div>
            <!-- Right Section -->
            <div class="cs-review">
                <img class="cs-review-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="5 stars" width="112" height="20">
                <h3 class="cs-title">Τι λένε για εμάς</h3>
                <p class="cs-text">
                    "Στην αρχή ήμουν πολύ διστακτική να προχωρήσω σε κάτι τόσο δραστικό. Ο φόβος μιας επέμβασης με ότι αυτό συνεπάγεται με έκαναν πίσω. Η εμπιστοσύνη στο γιατρό είναι κάτι που χτίζεται και αυτό συνέβη σε μένα. Ένιωσα ασφαλής όταν πείστηκα ότι βρίσκομαι στο σωστό μέρος και οι απαντήσεις στα ερωτήματά μου ήταν ειλικρινείς. Το χρονοδιάγραμμα που μου έδωσαν τηρήθηκε με συνέπεια και η αποθεραπεία μου δεν θα μπορούσε να είναι πιο ομαλή. Ο γιατρός με την ομάδα του με αντιμετώπισαν με επαγγελματισμό και προσωπικό ενδιαφέρον. Η όποια μικρή ταλαιπωρία άξιζε όσο τίποτα βλέποντας τον εαυτό μου στον καθρέφτη δεκαπέντε χρόνια νεότερη! Σε ευχαριστώ πολύ γιατρέ μου!"                </p>
                <span class="cs-review-name">⎯ Μαρία, 52 ετών </span>
            </div>
        </div>
    </section>                

    <!-- ============================================ -->
    <!--              The plastic surgeon              -->
    <!-- ============================================ -->

    <section id="surgeon-1">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/drfloros.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/drfloros.png">
                <img loading="lazy" decoding="async" src="/assets/images/drfloros.png" alt="room" width="960" height="796">
            </picture>
            <div class="cs-content">
                <h2 class="cs-title">Ο πλαστικός χειρουργός: Δρ. Κωνσταντίνος Φλώρος</h2>
                <p class="cs-text">
                    Ο Δρ. Κωνσταντίνος Φλώρος γεννήθηκε στην Αθήνα, σπούδασε Ιατρική στο Πανεπιστήμιο της Θεσσαλονίκης και ειδικεύτηκε στην  Πλαστική Χειρουργική στο Ηνωμένο Βασίλειο. Συμμετείχε σε εξειδικευμένα σεμινάρια αισθητικής  χειρουργικής στο Λονδίνο και τη Νέα Υόρκη. Στην Ελλάδα ασκεί ιδιωτικό  επάγγελμα με έμφαση στην αισθητική πλαστική χειρουργική και τις  σύγχρονες εφαρμογές της κοσμητικής Ιατρικής και αντιγήρανσης. Διετέλεσε  επιμελητής Πλαστικής Χειρουργικής στα πανεπιστημιακά νοσοκομεία Queen Mary’s University Hospital του Λονδίνου και Addenbrooke’s Hospital στο Κέιμπριτζ.                
                </p>
                <a href="" class="cs-button-solid">Κλείστε ραντεβού
                    <img src="/assets/svgs/right-arrow.svg" alt="" width="20" height="20" aria-hidden="true" decoding="async">
                </a>
            </div>
        </div>
        </section>

    <!-- ============================================ -->
    <!--                     FAQ                      -->
    <!-- ============================================ -->

    <section id="faq-1">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Συχνές ερωτήσεις</h2>
            </div>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Πότε αφαιρούνται τα ράμματα;
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Some cleaning plans require a minimum commitment term. Cancelling your plan before the minimum term is complete will result in a $99 fee. If you want to learn more information about how to cancel, please inbox us.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Πόσο επίπονη είναι η διαδικασία;                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Πότε μπορώ να επιστρέψω στην εργασία μου;                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Θα φαίνεται η ουλή;
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
        </div>
    </section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}