---
title: 'About | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'clinic/'
eleventyNavigation:
    key: Ιατρείο
    order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--             Side By Side Reverse             -->
    <!-- ============================================ -->

    <section id="sbsr-2172">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/facelift.png">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/facelift.png">
            <img loading="lazy" decoding="async" src="/assets/images/facelift.png" alt="room" width="960" height="796">
        </picture>
        <div class="cs-content">
            <h1 class="cs-title">Λίφτινγκ προσώπου 
                (Face Lift): Αναλυτικός Οδηγός για την Επέμβαση</h1>
            <p class="cs-text">
                    Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες 
                    και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο.                    
            </p>
            <a href="" class="cs-button-solid">Κλείστε ραντεβού</a>
        </div>
    </div>
    </section>

    <!-- ============================================ -->
    <!--                   The process                -->
    <!-- ============================================ -->

    <section id="sbs-2172">
        <div class="cs-container">
            <div class="cs-content-left">
                <h1 class="cs-title">Η διαδικασία</h1>
                <p class="cs-text">
                    Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο.
                </p>
                <p class="cs-text">
                    Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο.
                    Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο. Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο.                   
                </p>
            </div>
            <div class="cs-content-right">
                <h1 class="cs-title">Περίληψη</h1>
                <ul class="cs-ul">
                    <li class="cs-li">
                        <span class="cs-flex">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/time_svgrepo.com.svg" alt="icon" width="40" height="40">
                            <div>Ώρα διαδικασίας</div>
                            <div class="right">1-2 ώρες </div>
                        </span>
                    </li>
                    <li class="cs-li">
                        <span class="cs-flex">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/night_svgrepo.com.svg" alt="icon" width="40" height="40">
                            <div>Παραμονή στην κλινική</div>
                            <div class="right">Όχι</div>
                        </span>
                    </li>
                    <li class="cs-li">
                        <span class="cs-flex">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/injection-inject-vaccine_svgrepo.com.svg" alt="icon" width="40" height="40">
                            <div>Αναισθησία</div>
                            <div class="right">Γενική αναισθησία</div>
                        </span>
                    </li>
                    <li class="cs-li">
                        <span class="cs-flex">
                            <img class="cs-icon" loading="lazy" decoding="async" src="/assets/svgs/time_svgrepo.com.svg" alt="icon" width="40" height="40">
                            <div>Χρόνος ανάρρωσης</div>
                            <div class="right">1 εβδομάδα</div>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    
    <!-- ============================================ -->
    <!--                    Steps                     -->
    <!-- ============================================ -->

    <section id="stps">
        <div id="steps-r">
            <div class="cs-container">
                <div class="cs-content">
                    <h2 class="cs-title">Βήμα 1: Αποφασίστε για τη μέθοδο και την αναισθησία</h2>
                    <p class="cs-text">
                        Στη διάρκεια αυτής της συνάντησης, ο γιατρός θα εξετάσει την κατάσταση του προσώπου σας και θα συζητήσει τις επιλογές σας, όπως το MACS lift ή το παραδοσιακό face lift.                    </p>
                    <a href="" class="cs-button-solid">Κλείστε ραντεβού</a>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/step1.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/step1.png">
                    <img loading="lazy" decoding="async" src="/assets/images/step1.png" alt="room" width="960" height="796">
                </picture>
            </div>
        </div>

        <div id="steps">
            <div class="cs-container">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/step2.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/step2.png">
                    <img loading="lazy" decoding="async" src="/assets/images/step2.png" alt="room" width="960" height="796">
                </picture>
                <div class="cs-content">
                    <h2 class="cs-title">Βήμα 2: Αποφασίστε για τη μέθοδο και την αναισθησία</h2>
                    <p class="cs-text">
                        Μετά την εκτίμηση του προσώπου σας, θα επιλέξετε μαζί την κατάλληλη μέθοδο ανόρθωσης (π.χ. παραδοσιακό face lift ή λιγότερο επεμβατικό MACS lift). Επίσης, θα αποφασίσετε αν θα γίνει η επέμβαση με τοπική αναισθησία ή γενική, ανάλογα με τη σοβαρότητα της επέμβασης.                   
                    </p>
                    <a href="" class="cs-button-solid">Κλείστε ραντεβού</a>
                </div>
            </div>
        </div>

        <div id="steps-r">
            <div class="cs-container">
                <div class="cs-content">
                    <h2 class="cs-title">Βήμα 3: Αποφασίστε για τη μέθοδο και την αναισθησία</h2>
                    <p class="cs-text">
                        Μετά την εκτίμηση του προσώπου σας, θα επιλέξετε μαζί την κατάλληλη μέθοδο ανόρθωσης (π.χ. παραδοσιακό face lift ή λιγότερο επεμβατικό MACS lift). Επίσης, θα αποφασίσετε αν θα γίνει η επέμβαση με τοπική αναισθησία ή γενική, ανάλογα με τη σοβαρότητα της επέμβασης.                   
                    </p>
                    <a href="" class="cs-button-solid">Κλείστε ραντεβού</a>
                </div>
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/step3.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/step3.png">
                    <img loading="lazy" decoding="async" src="/assets/images/step3.png" alt="room" width="960" height="796">
                </picture>
            </div>
        </div>

        <div id="steps">
            <div class="cs-container">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/step4.png">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/step4.png">
                    <img loading="lazy" decoding="async" src="/assets/images/step4.png" alt="room" width="960" height="796">
                </picture>
                <div class="cs-content">
                    <h2 class="cs-title">Βήμα 4: Αποφασίστε για τη μέθοδο και την αναισθησία</h2>
                    <p class="cs-text">
                        Μετά την εκτίμηση του προσώπου σας, θα επιλέξετε μαζί την κατάλληλη μέθοδο ανόρθωσης (π.χ. παραδοσιακό face lift ή λιγότερο επεμβατικό MACS lift). Επίσης, θα αποφασίσετε αν θα γίνει η επέμβαση με τοπική αναισθησία ή γενική, ανάλογα με τη σοβαρότητα της επέμβασης.                   
                    </p>
                    <a href="" class="cs-button-solid">Κλείστε ραντεβού</a>
                </div>
            </div>
        </div>
    </section>                          
    <!-- ============================================ -->
    <!--                 Side By Side                 -->
    <!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Left Image Section -->
            <div class="cs-left">
                <h2 class="cs-title">Η διαδικασία</h2>
                <p class="cs-text">
                    Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο.
                </p>
                <p class="cs-text">
                    Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται 
                    σε λίγες ώρες και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο. Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο.

                </p>
            </div>
            <!-- Right Content Section-->
            <div class="cs-right">
                    <h2 class="cs-title">δκ</h2>
                    <p class="cs-text">
                            Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες 
                            και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο.                    
                    </p>
                    <a href="" class="cs-button-solid">Κλείστε ραντεβού</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}