---
title: 'Contact | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'contact/'
eleventyNavigation:
    key: Contact Us
    order: 600
    hideOnDesktop: true
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/contact.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->

    <!-- <section id="int-hero">
        <h1 id="home-h">Contact Us</h1>
        <picture>
            <source media="(max-width: 600px)" srcset="/assets/images/cabinets2-m.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/cabinets2.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/cabinets2.jpg" alt="kitchen cabinets" loading="eager" width="2500" height="1667">
        </picture>
    </section> -->

    <!-- ============================================ -->
    <!--                Contact Form                  -->
    <!-- ============================================ -->

    <section id="contact-1">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/clinic.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/clinic.png">
                <img loading="lazy" decoding="async" src="/assets/images/clinic.png" alt="clinic" width="904" height="754">
            </picture>
            <div class="cs-right">
                <div class="cs-content">
                    <span class="cs-topper">📍 Λ. Κηφισιας 49, Αμπελοκηποι, Αθηνα </span>
                    <h2 class="cs-title">Κλείστε ραντεβού</h2>
                    <p class="cs-text">
                        Kαλέστε μας στο τηλέφωνο 210 6994955 ή συμπληρώστε τη φόρμα και θα επικοινωνήσουμε μαζί σας. Ρωτήστε μας για τα προνομιακά πακέτα συνεδριών που προσφέρουμε.
                        </p>

                </div>
                <!--Form-->
                <form class="cs-form" id="cs-form-587-984" name="Contact Form" method="post">
                    <label class="cs-label">
                        Όνομα
                        <input class="cs-input" required type="text" id="name-587-984" name="name" placeholder="Name">
                    </label>
                    <label class="cs-label">
                        Κινητό
                        <input class="cs-input" required type="text" id="phone-587-984" name="phone" placeholder="Phone">
                    </label>
                    <label class="cs-label">
                        Email
                        <input class="cs-input" required type="text" id="email-587-984" name="email" placeholder="Email">
                    </label>
                    <label class="cs-label cs-message">
                        Το μήνυμά σας
                        <textarea class="cs-input cs-textarea" required name="Message" id="message-587-984" placeholder="Write message..."></textarea>
                    </label>
                    <button class="cs-button-solid cs-submit" type="submit">Αποστολή μηνύματος</button>
                </form>
            </div>
        </div>
    </section>
                                
{% endblock %}