---
title: 'Reviews | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'reviews/'
eleventyNavigation:
    key: Πριν / Μετά
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    LANDING                   -->
    <!-- ============================================ -->
<!-- 
    <section id="int-hero">
        <h1 id="home-h">Our Reviews</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/landing-m.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section> -->

    <section id="filter-gallery">
        <h1>Filter the images</h1>

        <input type="radio" id="all" name="button" checked>
        <input type="radio" id="fish" name="button">
        <input type="radio" id="birds" name="button">
        <input type="radio" id="lion" name="button">
        
        <label class="tag all" for="all">all</label>
        <label class="tag tag1" for="fish">fish</label>
        <label class="tag tag2" for="birds">birds</label>
        <label class="tag tag3" for="lion">lion</label>
        <br>
        <div class="images">
                <img src="/assets/images/facelift.png"  class="lion">
                <img src="/assets/images/lift.png"  class="lion">
                <img src="/assets/images/drfloros.png"  class="lion">
        
                <img src="/assets/images/step1.png"  class="birds">
                <img src="/assets/images/step2.png"  class="birds">

        
                <img src="/assets/images/step3.png"  class="fish">
                <img src="/assets/images/facelift.png"  class="fish">
            
        </div>

    </section>

    {% include 'components/cta.html' %}

{% endblock %}