/* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbsr-2172 {
    background-color: var(--beigeColor);
    position: relative;
    z-index: 1;
  }
  #sbsr-2172 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sbsr-2172 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to cs-content so the cs-background can be full width */
    padding: var(--sectionPadding);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbsr-2172 .cs-text {
    margin-bottom: 1rem;
  }
  #sbsr-2172 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbsr-2172 .cs-picture {
    position: relative;
    width: 100%;
    height: 35rem;
    z-index: 1;
  }
  #sbsr-2172 .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbsr-2172 {
    /* 90px - 150px */
    /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
    padding: 0 1rem;
  }
  #sbsr-2172 .cs-container {
    flex-direction: row;
    justify-content: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #sbsr-2172 .cs-content {
    width: 50%;
    max-width: 35.1875rem;
    /* 32px - 116px */
    padding: clamp(2rem, 8vw, 7.25rem) 0;
  }
  #sbsr-2172 .cs-picture {
    width: 50vw;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
  }
}
/*-- -------------------------- -->
<---        Description         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs-2172 {
    background-color: var(--primary);
    position: relative;
    z-index: 1;
    border-bottom: 1px solid var(--primary);
  }
  #sbs-2172 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sbs-2172 .cs-content-left {
    padding: var(--sectionPadding);
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-2172 .cs-content-left .cs-title,
  #sbs-2172 .cs-content-left .cs-text {
    color: var(--bodyTextColorWhite);
  }
  #sbs-2172 .cs-content-right {
    background-color: var(--beigeColor);
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    /* moved section padding to cs-content so the cs-background can be full width */
    padding: var(--sectionPadding);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #sbs-2172 .cs-text {
    margin-bottom: 1rem;
  }
  #sbs-2172 .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs-2172 .cs-ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
  }
  #sbs-2172 .cs-li {
    padding: 0.75rem 1.25rem;
    border: 1px solid black;
    list-style: none;
  }
  #sbs-2172 .cs-li:nth-child(1) {
    margin-top: 0rem;
  }
  #sbs-2172 .cs-li-text {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0 0 1rem;
    color: var(--bodyTextColor);
  }
  #sbs-2172 .cs-flex {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: var(--bodyTextColor);
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.625rem;
    justify-content: space-between;
  }
  #sbs-2172 .cs-flex .right {
    display: flex;
    margin-left: auto;
  }
  #sbs-2172 .cs-flex .cs-icon {
    width: 2rem;
    height: auto;
    display: block;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #sbs-2172 {
    /* 90px - 150px */
    /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
    padding: 0 1rem;
  }
  #sbs-2172 .cs-container {
    flex-direction: row;
    justify-content: flex-start;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
    z-index: 1;
  }
  #sbs-2172 .cs-content-left {
    width: 48%;
    max-width: 35.1875rem;
    /* 32px - 116px */
    padding: clamp(2rem, 8vw, 7.25rem) 0;
  }
  #sbs-2172 .cs-content-right {
    width: 50vw;
    height: auto;
    padding: clamp(2rem, 8vw, 7.25rem) 5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
  }
}
/*-- -------------------------- -->
<---     Steps-reverse          -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps-r {
    padding: 2.5rem 1rem;
    background-color: var(--beigeColor);
    position: relative;
    z-index: 1;
  }
  #steps-r .cs-container {
    box-shadow: rgba(20, 20, 58, 0.2) 0px 5px 40px;
    background-color: var(--beigeColor);
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #steps-r .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to cs-content so the cs-background can be full width */
    padding: var(--sectionPadding);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #steps-r .cs-text {
    margin-bottom: 1rem;
  }
  #steps-r .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #steps-r .cs-picture {
    display: block;
    position: relative;
    width: 100%;
    height: 35rem;
    z-index: 1;
  }
  #steps-r .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps-r {
    /* 90px - 150px */
    /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
  }
  #steps-r .cs-container {
    max-width: 79.375rem;
    flex-direction: row;
    justify-content: flex-end;
    /* 48px - 64px */
    position: relative;
    z-index: 1;
  }
  #steps-r .cs-content {
    width: 100%;
    max-width: 35.1875rem;
    /* 32px - 90px */
    padding: 0 1.875rem;
  }
  #steps-r .cs-picture {
    z-index: 1;
    width: 50%;
    margin-left: 0rem;
  }
  #steps-r .cs-picture img {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---          Steps             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps {
    background-color: var(--beigeColor);
    position: relative;
    z-index: 1;
  }
  #steps .cs-container {
    box-shadow: rgba(20, 20, 58, 0.2) 0px 5px 40px;
    background-color: var(--babyBlue);
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #steps .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: left;
    width: 100%;
    max-width: 32.625rem;
    /* moved section padding to cs-content so the cs-background can be full width */
    padding: var(--sectionPadding);
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: flex-start;
  }
  #steps .cs-text {
    margin-bottom: 1rem;
  }
  #steps .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #steps .cs-picture {
    display: block;
    position: relative;
    width: 100%;
    height: 35rem;
    z-index: 1;
  }
  #steps .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps {
    /* 90px - 150px */
    /* returned section padding to the section container, this Stitch has 1.5X padding top and bottom than the normal Stitch */
    padding: 2.5rem 1rem;
  }
  #steps .cs-container {
    max-width: 79.375rem;
    flex-direction: row;
    justify-content: flex-start;
    /* 48px - 64px */
    position: relative;
    z-index: 1;
  }
  #steps .cs-content {
    padding: unset;
    /* 32px - 90px */
    padding-left: 5rem;
    padding-right: 0.625rem;
  }
  #steps .cs-picture {
    z-index: 1;
    width: 50%;
  }
  #steps .cs-picture img {
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #sbs {
    padding: var(--sectionPadding);
  }
  #sbs .cs-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    max-width: 80rem;
    width: 100%;
    row-gap: 2.5rem;
  }
  #sbs .cs-left {
    background-color: var(--primary);
    position: relative;
    height: 39.75em;
    /* using ems so we can use font size to scale the whole section */
    width: 39.4375em;
    /* scaling the font size with the view width */
    font-size: min(2.31vw, 0.7em);
  }
  #sbs .cs-picture {
    position: absolute;
    display: block;
    border-radius: 1.5em;
    /* clips img tag corners */
    overflow: hidden;
  }
  #sbs .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* makes image act like a background image */
    object-fit: cover;
  }
  #sbs .cs-picture1 {
    top: 0;
    left: 0;
    height: 36.3125em;
    width: 32.625em;
  }
  #sbs .cs-picture2 {
    bottom: 0;
    right: 0;
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid #fff;
    background-color: #fff;
    height: 25em;
    width: 25.875em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 40px;
  }
  #sbs .cs-right {
    margin: auto;
    max-width: 33.875rem;
  }
  #sbs .cs-topper {
    margin-bottom: 0.25rem;
    text-align: left;
  }
  #sbs .cs-title {
    color: var(--bodyTextColorWhite);
    max-width: 50rem;
    text-align: left;
  }
  #sbs .cs-text {
    margin-bottom: 1rem;
    max-width: 46.875rem;
    color: var(--bodyTextColorWhite);
    text-align: left;
  }
  #sbs .cs-text:last-of-type {
    margin-bottom: 2rem;
  }
  #sbs .cs-flex-group {
    position: relative;
    border-radius: 1rem;
    background-color: #f7f7f7;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
  }
  #sbs .cs-flex-p {
    margin: 0 0 1rem;
    /* 14px - 16px */
    font-size: clamp(0.875rem, 1.5vw, 1rem);
    line-height: 1.5em;
    color: #353535;
  }
  #sbs .cs-name {
    display: block;
    margin: 0 0 0.25rem;
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1.2em;
    font-weight: bold;
    color: var(--headerColor);
  }
  #sbs .cs-job {
    display: block;
    font-size: 0.875rem;
    line-height: 1.5em;
    color: #353535;
  }
  #sbs .cs-quote-icon {
    position: absolute;
    bottom: 0rem;
    /* 16px - 32px */
    right: clamp(1rem, 4vw, 2rem);
    height: auto;
    /* 60px - 136px */
    width: clamp(3.75rem, 10vw, 8.5rem);
  }
  #sbs .cs-button-solid {
    margin-top: 2rem;
  }
}
/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #sbs .cs-container {
    flex-flow: row;
    justify-content: space-between;
    gap: 3.25rem;
  }
  #sbs .cs-left {
    font-size: min(1.2vw, 1em);
    flex: none;
  }
  #sbs .cs-right {
    margin: 0;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #sbs .cs-left:before,
  body.dark-mode #sbs .cs-left:after {
    background: var(--accent);
  }
  body.dark-mode #sbs .cs-picture2 {
    /* 6px - 12px */
    border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
    background-color: var(--dark);
  }
  body.dark-mode #sbs .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #sbs .cs-title,
  body.dark-mode #sbs .cs-text,
  body.dark-mode #sbs .cs-h3,
  body.dark-mode #sbs .cs-flex-p,
  body.dark-mode #sbs .cs-name {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .cs-flex-group {
    background-color: var(--accent);
  }
  body.dark-mode #sbs .cs-job {
    opacity: 0.8;
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #sbs .cs-quote-icon {
    opacity: 0.2;
  }
}
