---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Αρχική
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <script defer src="/assets/js/slider.js"></script>

    <!-- Script for Netlify Identity -->
    <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script defer>
        if (window.netlifyIdentity) {
            window
                .netlifyIdentity
                .on('init', (user) => {
                    if (!user) {
                        window
                            .netlifyIdentity
                            .on('login', () => {
                                document.location.href = '/admin/';
                            });
                    }
                });
        }
    </script>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}

    <!-- ============================================ -->
    <!--                    Hero                      -->
    <!-- ============================================ -->

    <section id="hero-1">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://img.freepik.com/free-photo/beautiful-naked-young-woman-with-perfect-clean-skin-smiling-touching-hair-white-wall-facial-treatment_176420-13992.jpg?t=st=1741685114~exp=1741688714~hmac=5e9c9929d69b49e965232c333d48cd3c79e0c6dc154a2948710aca303e343f99&w=2000">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://img.freepik.com/free-photo/beautiful-naked-young-woman-with-perfect-clean-skin-smiling-touching-hair-white-wall-facial-treatment_176420-13992.jpg?t=st=1741685114~exp=1741688714~hmac=5e9c9929d69b49e965232c333d48cd3c79e0c6dc154a2948710aca303e343f99&w=2000">
                <img loading="lazy" decoding="async" src="https://img.freepik.com/free-photo/beautiful-naked-young-woman-with-perfect-clean-skin-smiling-touching-hair-white-wall-facial-treatment_176420-13992.jpg?t=st=1741685114~exp=1741688714~hmac=5e9c9929d69b49e965232c333d48cd3c79e0c6dc154a2948710aca303e343f99&w=2000" alt="room" width="960" height="796">
            </picture>
            <div class="cs-content">
                <h1 class="cs-title">Πλαστική Χειρουργική & Αισθητική Ιατρική, Αθήνα </h1>
                <p class="cs-text">
                        Tο λίφτινγκ αποτελεί μία από τις πιο δραστικές  θεραπείες κατά της χαλάρωσης του προσώπου  που ολοκληρώνεται σε λίγες ώρες 
                        και μπορεί να προσφέρει αποτέλεσμα που διαρκεί στο χρόνο.                    
                </p>
                <a href="" class="cs-button-solid">Κλείστε ραντεβού
                    <img src="/assets/svgs/right-arrow.svg" alt="" width="20" height="20" aria-hidden="true" decoding="async">
    
                </a>
            </div>
        </div>
    </section>


    <!-- ============================================ -->
    <!--                   Services                   -->
    <!-- ============================================ -->

    <section id="services-1">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Οι υπηρεσίες μας</h2>
                <p class="cs-text">
                    At Stitch Cleaning Service, let us help you solve problems so that you can focus on your mission. We support businesses through periods of expansion, succession.
                </p>
            </div>

            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/lift.png">
                            <source media="(min-width: 601px)" srcset="/assets/images/lift.png">
                            <img loading="lazy" decoding="async" src="/assets/images/lift.png" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Macs Lift 1 </h3>
                        <p class="cs-item-text">
                            Bασίζεται στη  στήριξη των μαλακών μορίων του προσώπου από σταθερό σημείο, με  αποτέλεσμα ένα πιο φυσικό και λιγότερο επεμβατικό αποτέλεσμα. Στόχος της τεχνικής αυτής είναι η ανόρθωση και νεαροποίηση του προσώπου και του  λαιμού, χωρίς να ασκείται υπερβολική τάση στο δέρμα.                        </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/macs.png">
                            <source media="(min-width: 601px)" srcset="/assets/images/macs.png">
                            <img loading="lazy" decoding="async" src="/assets/images/macs.png" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Macs Lift 2</h3>
                        <p class="cs-item-text">
                            Bασίζεται στη  στήριξη των μαλακών μορίων του προσώπου από σταθερό σημείο, με  αποτέλεσμα ένα πιο φυσικό και λιγότερο επεμβατικό αποτέλεσμα. Στόχος της τεχνικής αυτής είναι η ανόρθωση και νεαροποίηση του προσώπου και του  λαιμού, χωρίς να ασκείται υπερβολική τάση στο δέρμα.
                                                </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/smallcut.png">
                            <source media="(min-width: 601px)" srcset="/assets/images/smallcut.png">
                            <img loading="lazy" decoding="async" src="/assets/images/smallcut.png" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Λίφτινγκ Μικρών Τομών</h3>
                        <p class="cs-item-text">
                            Bασίζεται στη  στήριξη των μαλακών μορίων του προσώπου από σταθερό σημείο, με  αποτέλεσμα ένα πιο φυσικό και λιγότερο επεμβατικό αποτέλεσμα. Στόχος της τεχνικής αυτής είναι η ανόρθωση και νεαροποίηση του προσώπου και του  λαιμού, χωρίς να ασκείται υπερβολική τάση στο δέρμα.
                         </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/smallcut.png">
                            <source media="(min-width: 601px)" srcset="/assets/images/smallcut.png">
                            <img loading="lazy" decoding="async" src="/assets/images/smallcut.png" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Λίφτινγκ Μικρών Τομών</h3>
                        <p class="cs-item-text">
                            Bασίζεται στη  στήριξη των μαλακών μορίων του προσώπου από σταθερό σημείο, με  αποτέλεσμα ένα πιο φυσικό και λιγότερο επεμβατικό αποτέλεσμα. Στόχος της τεχνικής αυτής είναι η ανόρθωση και νεαροποίηση του προσώπου και του  λαιμού, χωρίς να ασκείται υπερβολική τάση στο δέρμα.
                         </p>
                    </a>
                </li>
                <li class="cs-item">
                    <a href="" class="cs-link">
                        <picture class="cs-picture">
                            <source media="(max-width: 600px)" srcset="/assets/images/smallcut.png">
                            <source media="(min-width: 601px)" srcset="/assets/images/smallcut.png">
                            <img loading="lazy" decoding="async" src="/assets/images/smallcut.png" alt="cleaner" width="413" height="240" aria-hidden="true">
                        </picture>
                        <h3 class="cs-h3">Λίφτινγκ Μικρών Τομών</h3>
                        <p class="cs-item-text">
                            Bασίζεται στη  στήριξη των μαλακών μορίων του προσώπου από σταθερό σημείο, με  αποτέλεσμα ένα πιο φυσικό και λιγότερο επεμβατικό αποτέλεσμα. Στόχος της τεχνικής αυτής είναι η ανόρθωση και νεαροποίηση του προσώπου και του  λαιμού, χωρίς να ασκείται υπερβολική τάση στο δέρμα.
                         </p>
                    </a>
                </li>
            </ul>
            <!-- Scroll Right Button -->
                    <!-- Scroll Left Button -->
            <div class="cs-scroll-buttons">
                <button class="cs-scroll-left" aria-label="Scroll Left">&lt;</button>
                <button class="cs-scroll-right" aria-label="Scroll Right">&gt;</button>
            </div>
            <a href="" class="cs-button-solid">Κλείστε ραντεβού
                <img src="/assets/svgs/right-arrow.svg" alt="" width="20" height="20" aria-hidden="true" decoding="async">
            </a>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                   Reviews                    -->
    <!-- ============================================ -->

    <section id="reviews-1">
        <div class="cs-container">
            <!-- Left section -->
            <div class="cs-card">
                <picture class="cs-picture">
                    <source media="(max-width: 600px)" srcset="/assets/images/pro.png">
                    <source media="(min-width: 601px)" srcset="/assets/images/pro.png">
                    <img loading="lazy" decoding="async" src="/assets/images/pro.png" alt="man at dentist" width="328" height="200" aria-hidden="true">
                </picture>
                <div class="cs-content">
                    <!-- <span class="cs-topper">100% ΦΥΣΙΚΟ ΑΠΟΤΕΛΕΣΜΑ </span> -->
                    <h2 class="cs-title">Λίφτινγκ προσαρμοσμένο στις αναλογίες του προσώπου σας</h2>
                    <p class="cs-text">
                        Οι χειρουργικές τεχνικές που χρησιμοποιούμε έχουν σχεδιαστεί έτσι ώστε να αποφεύγεται το υπερβολικό τέντωμα του δέρματος και η "τραβηγμένη" εμφάνιση, εξασφαλίζοντας ότι το πρόσωπό σας θα δείχνει νεότερο και ανανεωμένο χωρίς να χάσει τη φυσικότητά του. Επιπλέον, κάθε επέμβαση εξατομικεύεται στις ανάγκες και τα χαρακτηριστικά του κάθε ατόμου, προκειμένου να επιτευχθεί το πιο αρμονικό και φυσικό αποτέλεσμα.
                    </p>
                    <a href="" class="cs-button-solid">Κλείστε ραντεβού
                        <img src="/assets/svgs/right-arrow.svg" alt="" width="20" height="20" aria-hidden="true" decoding="async">
                    </a>
                </div>
            </div>
            <!-- Right Section -->
            <div class="cs-review">
                <img class="cs-review-img" aria-hidden="true" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/Reviews/stars-yellow.svg" alt="5 stars" width="112" height="20">
                <h3 class="cs-title">Τι λένε για εμάς</h3>
                <p class="cs-text">
                    "Στην αρχή ήμουν πολύ διστακτική να προχωρήσω σε κάτι τόσο δραστικό. Ο φόβος μιας επέμβασης με ότι αυτό συνεπάγεται με έκαναν πίσω. Η εμπιστοσύνη στο γιατρό είναι κάτι που χτίζεται και αυτό συνέβη σε μένα. Ένιωσα ασφαλής όταν πείστηκα ότι βρίσκομαι στο σωστό μέρος και οι απαντήσεις στα ερωτήματά μου ήταν ειλικρινείς. Το χρονοδιάγραμμα που μου έδωσαν τηρήθηκε με συνέπεια και η αποθεραπεία μου δεν θα μπορούσε να είναι πιο ομαλή. Ο γιατρός με την ομάδα του με αντιμετώπισαν με επαγγελματισμό και προσωπικό ενδιαφέρον. Η όποια μικρή ταλαιπωρία άξιζε όσο τίποτα βλέποντας τον εαυτό μου στον καθρέφτη δεκαπέντε χρόνια νεότερη! Σε ευχαριστώ πολύ γιατρέ μου!"                </p>
                <span class="cs-review-name">⎯ Μαρία, 52 ετών </span>
            </div>
        </div>
    </section>  

    <!-- ============================================ -->
    <!--              The plastic surgeon              -->
    <!-- ============================================ -->

    <section id="surgeon-1">
        <div class="cs-container">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="/assets/images/drfloros.png">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="/assets/images/drfloros.png">
                <img loading="lazy" decoding="async" src="/assets/images/drfloros.png" alt="room" width="960" height="796">
            </picture>
            <div class="cs-content">
                <h2 class="cs-title">Ο πλαστικός χειρουργός: Δρ. Κωνσταντίνος Φλώρος</h2>
                <p class="cs-text">
                    Ο Δρ. Κωνσταντίνος Φλώρος γεννήθηκε στην Αθήνα, σπούδασε Ιατρική στο Πανεπιστήμιο της Θεσσαλονίκης και ειδικεύτηκε στην  Πλαστική Χειρουργική στο Ηνωμένο Βασίλειο. Συμμετείχε σε εξειδικευμένα σεμινάρια αισθητικής  χειρουργικής στο Λονδίνο και τη Νέα Υόρκη. Στην Ελλάδα ασκεί ιδιωτικό  επάγγελμα με έμφαση στην αισθητική πλαστική χειρουργική και τις  σύγχρονες εφαρμογές της κοσμητικής Ιατρικής και αντιγήρανσης. Διετέλεσε  επιμελητής Πλαστικής Χειρουργικής στα πανεπιστημιακά νοσοκομεία Queen Mary’s University Hospital του Λονδίνου και Addenbrooke’s Hospital στο Κέιμπριτζ.                
                </p>
                <a href="" class="cs-button-solid">Κλείστε ραντεβού
                    <img src="/assets/svgs/right-arrow.svg" alt="" width="20" height="20" aria-hidden="true" decoding="async">
                </a>
            </div>
        </div>
    </section>

    <!-- ============================================ -->
    <!--                     FAQ                      -->
    <!-- ============================================ -->

    <section id="faq-1">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Συχνές ερωτήσεις</h2>
            </div>
            <ul class="cs-faq-group">
                <!-- Active class added as default -->
                <li class="cs-faq-item active">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Πότε αφαιρούνται τα ράμματα;
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Some cleaning plans require a minimum commitment term. Cancelling your plan before the minimum term is complete will result in a $99 fee. If you want to learn more information about how to cancel, please inbox us.
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Πόσο επίπονη είναι η διαδικασία;                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Πότε μπορώ να επιστρέψω στην εργασία μου;                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            Θα φαίνεται η ουλή;
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
                <li class="cs-faq-item">
                    <button class="cs-button">
                        <span class="cs-button-text">
                            What are your prices for brake replacement?
                        </span>
                    </button>
                    <p class="cs-item-p">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sit convallis nunc neque, bibendum pulvinar vitae commodo velit. Proin diam tortor sed malesuada nunc, habitant. Dignissim ipsum porta enim, magna urna, quam. 
                    </p>
                </li>
            </ul>
        </div>
    </section>
                    

    {% include 'components/cta.html' %}
{% endblock %}